h1 {
    color: pink;
}

#infograph {
    
}

#language-bar {
    height: 40px;
}

#steppers {
    height: 100vh; 
}

path.arrow, #arrowhead {
  fill: none;
  stroke: lightgray;
  opacity: 0.5;
}

#shootsAndLadders {
    height: 100vh;
    font-size: 0.8em;
}
#shootsAndLadders p {
    margin-bottom: 0px;
}

pre { padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }