.home {
	padding: 0;
	margin: 0;
}
.home .cover {
	background-image: url("/img/fast/bison.jpg");
	background-size: cover;
	background-position: center center;
	height: 90vh;
	width: 100%;
	padding: 5% 10%;
}
.home .row {
	margin: 0;
}
.home .cover .text-content h1 {
	margin-bottom :0;
}
.home .cover .text-content h1 > span {
	color: white;
	background-color: red;
	margin-bottom: 0;
	padding-bottom: 0;
}
.home .cover .text-content p.lead {
	margin-top: 0;
}
.home .cover .text-content p.lead > span.pitch {
	color: white;
	background-color: darkblue;
}
.home .cover .text-content p.lead > span.about {
	color: white;
}
.home .cover .text-content p.lead > span.kicker {
	background-color: gold;
	color: white;
}
.home .cover .text-content .all-tags {
	
}

.home .cover .text-content-right {
	float: right;
	text-align: right;
}
