img.screenshot {
  margin: 5px;
  -webkit-box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);
  box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);

}

/*list*/
.ios-list-item {
	border-top: 3px dashed lightgray;
	padding-top: 30px;
	padding-bottom: 30px;
}

span.fold-here-instructions {
	font-size: 0.7em;
	font-style: italic;
	position: absolute;
	z-index: 100;
	right: 10px;
	margin-top: -20px;
	color: lightgray;
}

.ios-list-item .brand-left {
	text-align: center;
}

/*single*/
.ios-single-content {
	border-top: 3px dashed lightgray;
	padding-top: 30px;
}
.ios-single-icon {
	padding-top: 30px;	
}

.app-store-badge {
	/*display:inline-block;*/
	/*overflow:hidden;*/
	background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
	/*width:165px;*/
	/*height:40px;*/
}
.app-store-badge-small {
	/*display:inline-block;*/
	overflow:hidden;
	background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-sm.svg) no-repeat;
	/*width:80px;*/
	/*height:15px;*/
}

.unnav-bar {
	background-image: url("/img/fast/bison-bottom.jpg");
	background-size: cover;
	background-position: bottom;
	position: fixed;
	height: 5%;
	top: 0;
	right: 0;
	left: 0;
}
