img.screenshot {
  // width: 20%;
  margin: 5px;
  -webkit-box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);
  box-shadow: 2px -5px 73px -31px rgba(0,0,0,0.75);

}
