<h1>dots</h1>

<style type="text/css">
body{font-family: Arial, sans-serif;font-size:10px;}
 .axis path {fill: none;stroke:#fff;shape-rendering: crispEdges;} 

 .axis line {fill: none;stroke:#b6b6b6;shape-rendering: crispEdges;}
/*.tick line{fill:none;stroke:none;}*/
.tick text{fill:#999; }
.x .tick text { transform: rotate(270deg); font-size: 7px; }
.tick line { display: none; }
g.journal.active{cursor:pointer;}
text.label{font-size:12px;font-weight:bold;cursor:pointer;}
text.value{font-size:12px;font-weight:bold;}
</style>


<div id="github-dots" class="row" >
  
</div>


<script src="/js/github-polyglot.js"></script>
<script src="/js/github-dots-graph.js"></script>
