{{ partial "header.html" .}}
<div class="home ">

    <div class="cover">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-content">
                    <h1><span>Rotblauer && Co.</span></h1>
                    <p class="lead"><span class="pitch">It's like a startup.</span> <span class="about">We make art, build tech, and do science.</span>
                        <!-- &nbsp;<span class="kicker">And we like it!</span> --></p>

                    <div class="hidden-sm-up mb-3">
                        <span class="badge badge-default"><a target="_blank" href="https://github.com/rotblauer" style="color: white;">
							<i class="octicon octicon-mark-github"></i> github.com/rotblauer
						</a></span>

                    </div>

                </div>
            </div>
            <div class="col-lg-6" style="height:60vh; padding-top: 2vh;">
                <!-- <div class="text-content-right hidden-xs-down">
                </div> -->
                <div class="h2" style="color: gold; font-weight: bolder;">
                        We're here:
                    </div>
        
                    <iframe frameborder="0" style="border: 20px solid gold;" height="100%" width="100%" src="http://punktlich.rotblauer.com"></iframe>
                    <p class="lead text-center mt-3" 
                    style="color: white; background-color: darkslategray;"
                    >
                        
                        Mapping <em id="number-of-cattracks">81,358</em>&nbsp; {{ ":paw_prints:" | emojify }}&nbsp; and counting. <br> Go full frame at <a href="http://punktlich.rotblauer.com" target="_blank" style="color: lightblue;">punktlich.rotblauer.com</a>
                    </p>
            </div>
        </div>
    </div>

    <!-- <div class="row" style="height: 120vh; margin:0; padding:0;background-color: rgb(204,218,219);">

        <div class="col-6 offset-4 p-3 " style="margin-top: -60vh; height: 100%; background-color: transparent;">
           
        </div>

    </div> -->

    <div class="row my-3 text-center">
      <div class="col-12 my-3">
        <h3 class="">
          <a href="https://github.com/rotblauer" style="color: #333333;">
            <i class="mega-octicon octicon-mark-github"></i>/rotblauer
          </a>
        </h3>
      </div>
    </div>

    <!-- <div class="container">
    <div class="row  my-3" style="height: 80vh;">

                <div class="col-3 text-center">
                    <em class="text-muted">
                        Languages by repo in aggregate.
                    </em>
                </div>
                <div class="col-9 text-center">
                    <em class="text-muted">
                        10 most recently updated.
                    </em>
                </div>
                <div class="col-3" style="height: 50%;">
                    {{ partial "github-aster.html" . }}
                </div>
                <div class="col-9" style="height: 100%;">
                    {{ partial "github-dots-graph.html" . }}
                </div>
    </div>
    </div> -->

    <div class="container">
      
    <div class="row text-center text-info" style="padding-top: 50px;">
        <div class="col">
            <i class="mega-octicon octicon-book"></i><br/> Portfolio
        </div>
    </div>
    </div>
    {{ partial "portfolio.html" . }} {{ partial "footer.html" .}}

    <script>
            $.ajax({ 
                type: 'GET',
                url: 'http://track.areteh.co:3001/metadata',
                dataType: 'json', 
                success: function(data) { 
                    console.log(data);
                    // {"KeyN":3441161,"LastUpdatedAt":"2018-04-20T11:05:28.194001962-07:00","LastUpdatedBy":"Bigger Papa","LastUpdatedPointsN":84}
                    // $("#metadata").text(data["KeyN"] + " points | " 
                    // $("#metadata").text(JSON.stringify(data));
                    var obj = $("#number-of-cattracks");
                    obj.text(data["KeyN"].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "");
                }
            });
        </script>