{{ partial "header.html" .}}
<div class="home ">

    <div class="cover">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-content">
                    <h1><span>Rotblauer && Co.</span></h1>
                    <p class="lead"><span class="pitch">It's like a startup.</span> <span class="about">We make art, build tech, and do science.</span>
                        <!-- &nbsp;<span class="kicker">And we like it!</span> --></p>

                    <div class="hidden-sm-up mb-3">
                        <span class="badge badge-default"><a target="_blank" href="https://github.com/rotblauer" style="color: white;">
							<i class="octicon octicon-mark-github"></i> github.com/rotblauer
						</a></span>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-content-right hidden-xs-down">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 70vh; margin:0; padding:0;background-color: rgb(204,218,219);">

        <div class="col-10 offset-1 p-3 " style="margin-top: -20vh; height: 100%; background-color: transparent;">
            <div class="h3 text-center" style="color: gold;">
                We're here. <sup><small> Hi Mom! Hi Dad!</small></sup>
            </div>

            <iframe frameborder="0" style="border: 20px solid gold;" height="100%" width="100%" src="http://punktlich.rotblauer.com"></iframe>
            <p class="lead text-center mt-3" style="color: rgb(67,53,47);">
                Mapping <em id="number-of-cattracks">81,358</em>&nbsp; {{ ":paw_prints:" | emojify }}&nbsp; and counting. Go full frame at <a href="http://punktlich.rotblauer.com" target="_blank">punktlich.rotblauer.com <sup><i class="octicon octicon-link-external"></i> </sup></a>
            </p>
        </div>

    </div>

    <div class="row my-3 text-center">
      <div class="col-12 my-3">
        <h3 class="">
          <a href="https://github.com/rotblauer" style="color: #333333;">
            <i class="mega-octicon octicon-mark-github"></i>/rotblauer
          </a>
        </h3>
      </div>
    </div>

    <div class="container">
    <div class="row  my-3" style="height: 80vh;">

                <div class="col-3 text-center">
                    <em class="text-muted">
                        Languages by repo in aggregate.
                    </em>
                </div>
                <div class="col-9 text-center">
                    <em class="text-muted">
                        10 most recently updated.
                    </em>
                </div>
                <div class="col-3" style="height: 50%;">
                    {{ partial "github-aster.html" . }}
                </div>
                <div class="col-9" style="height: 100%;">
                    {{ partial "github-dots-graph.html" . }}
                </div>
    </div>
    </div>

    <div class="container">
      
    <div class="row text-center text-info" style="margin-top: 150px; padding-top: 50px;border-top: 3px dashed lightgray;">
        <div class="col">
            <i class="mega-octicon octicon-book"></i><br/> Portfolio
        </div>
    </div>
    </div>
    {{ partial "portfolio.html" . }} {{ partial "footer.html" .}}
