{{ partial "header.html" .}}


<!-- github -->
<!-- <script src="/js/github.js"></script> -->
<!-- <script src="/js/swoopy-arrow.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-plus/1.8.2/humanize.min.js"></script> -->
<!-- <link href="/css/github.css" rel="stylesheet" /> -->

<!-- <script src="/js/get-github.js"></script> -->

<div id="github-section-body" class="container">

    <!-- <div id="language-bar" class="row"> -->
    <!-- </div> -->

    <!-- <div id="infograph" class="row"> -->
    <!-- </div> -->

    <!-- <div id="steppers" class="row"> -->
    <!-- </div> -->

    <!-- <div id="shootsAndLadders" class="row"> -->
    <!-- </div> -->


  <!-- <div class="row my-3 py-3"> -->
  <!-- </div> -->

    {{ partial "github-force.html" . }}

  <!-- <div class="row my-3 py-3" style="font-size: 0.7rem;"> -->
  <!-- <div class="col"> -->
  <!-- <p> -->
  <!-- <a href="https://github.com/rotblauer"><i class="octicon octicon-mark-github"></i>/rotblauer</a> -->
  <!-- </p> -->
  <!-- <p class="text-muted"> -->
  <!-- Something-like-a-map of our repositories on Github. <br/> -->
  <!-- Currently sorted by <strong>created_at</strong>, with the freshest on top. -->
  <!-- <strong>#TODO</strong> sort by all kinds of things. <br/> -->
  <!-- The language blocks show a <code>Math.log(repo.language[].size)</code>, so it's not exactly to scale. -->
  <!-- </p> -->
  <!-- </div> -->
  <!-- </div> -->

  <!-- <div id="stacks" class="row my-3 py-3" ></div> -->

    <!-- <div class="row"> -->
    <!-- <pre id="repos-preview"> -->
    <!-- </pre> -->
    <!-- </div> -->
</div>

<!-- <script src="/js/github-polyglot.js"></script> -->
</body>
