{{ partial "header.html" . }}

<div class="row mt-3 p-3 text-muted">
	<span class="fold-here-instructions">Instructions.</span>
	<p class="small">We make apps. Many are open source. Many are on the iTunes App Store.
	<br>This is them.
	</p>
</div>



{{ range .Pages }}
<div class="row px-3 ios-list-item">
	<span class="fold-here-instructions">Fold here.</span>
	<div class="col-sm-4 brand-left">
		
		<!-- icon image -->
		<a href="{{ .RelPermalink }}">
  	<img src="{{ .Params.icon_path }}" alt="" class="img-fluid">
		</a>
	
	</div>
	<div class="col-sm-8 brand-right">
		<h3 style="color: {{ .Params.primary_color }};">{{ .Params.name }}</h3>
		<p class="text-muted">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad voluptate tempora commodi sed culpa maiores temporibus quos aut explicabo nam perspiciatis accusantium ratione pariatur, quisquam optio beatae rerum? Obcaecati!
		</p>
	</div>

</div>
{{ end }}	



{{ partial "footer.html" . }}